.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  transform: scale(0.5);
  transition: all 0.3s ease;
  opacity: 0;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.4 !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  transform: scale(1.2);
}

.luxury-serif {
  font-family: 'Times New Roman', serif; /* Fallback/Placeholder */
}
